[submodule "submodules/ULS.Core"]
	path = submodules/ULS.Core
	url = https://github.com/UnrealLightweightServer/ULS.Core.git
[submodule ".\\src\\TicTacToeSample\\Client\\Plugins\\ULSClient"]
	path = .\\src\\TicTacToeSample\\Client\\Plugins\\ULSClient
	url = https://github.com/UnrealLightweightServer/ULS.Plugin.git
